/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h1 {
    font-family: 'Playfair Display';
    font-size: 26px;
    font-style: normal;
    padding: 0px;
    line-height: normal;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 21px;
    font-style: normal;
    padding:0px;
    line-height: normal;
}

p{
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-variant: lighter;
    line-height: normal;
}

.nav{
    list-style:none;
    margin: 0;
    padding:0;
    text-align: center;
    text-decoration: none;
    font-family: 'Playfair Display';
    font-size: 20px;
    font-weight: bold;
}

.nav li{
    display: inline;
    padding-right: 25px;
}

.nav a{
    display:inline-block;
    padding:20px 15px;
}

li a{
    color: black;
    text-decoration-line: none;
}

li a.active {
    background-color: rgb(236,236,236);
    padding: 8px 16px;
}



/* Header */
#titel{
    font-size: 30px;
    margin-left: 50px;
}

#header{
    width: 100%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.image2 {
  position: absolute;
  top: 30px;
  left:40%;
}

/* Body */
body{
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 12px;
}



.row::after {
    content: "";
    clear: both;
    display: table;
    padding:0;
}

p.highlight{
    color: rgb(167, 169, 172);
    text-align: center;
    font-style: italic;
}

p.vet{
    font-weight: bolder;
}

p.invulveld{
    font-weight: bold;
    color:rgb(167, 169, 172);
}

.vet-center{
    font-weight: bolder;
    text-align: center;
}

hr{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}



.contactformulier{
  margin:10px;
  margin-right: 15px;
  padding-bottom: 10px;
  width:100%;
  font-family: "Raleway";
}

.title{
  float:left;
  width: 100px;
  text-align: left;
  padding-right: 30px;
}


.submit{
  text-align:right;
}

#submit{
  font-size:14px;
  background-image: url("_img/Button.png");
  width: 100px;
}

#telefoon-title{
    padding-right: 30px;
}


/* Afbeeldingen */
#about-us-foto{
    width: 100%;
}

.foto-portfolio{
   width:100%;
}

.foto-diensten{
    width: 100%;
}

#foto-team{
    width: 100%;
}

#map{
    width: 100%;
}



  /* footer*/
  a.logo{
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    overflow:hidden;
}

.page-footer{
    background-color: rgb(104, 53, 72);
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
    display:inline-block;
    width: 100%;
}

.social-links{
    color: white;
    padding:auto;
    font-weight: bolder;
}

.footer-copyright{
    text-align: right;
    color: white;
}

.social-icons{
    list-style:none;
    margin: 0;
    margin-left: 30px;
    padding:0;
    text-align: left;
    text-decoration: none;
}

.social-icons li {
    display: inline;
    padding:5px;
}





